---
import { type Song } from "@/lib/data";
interface Props {
  song: Song;
}
const { song } = Astro.props;

---

<div class="grid grid-cols-[16px_minmax(120px,_4fr)_minmax(120px,_2fr)_minmax(120px,_1fr)] gap-x-4 h-14 px-4 border border-solid border-transparent rounded hover:bg-white/10  " >

  <div class="flex justify-end items-center text-[#A7A7A7]">{song.id}</div>
  <div class="flex items-center  ">
    <picture class="w-10 h-10 aspect-square mr-3 bg-[#282828] object-center object-cover "
      ><img
        class="flex flex-shrink-0 rounded object-center  object-cover w-full h-full"
        src={song.image}
        alt=`image from ${song.title}`
      /></picture
    >
    <div class="flex flex-col">
        <h2>{song.title}</h2>
        <h4 class="text-sm text-[#A7A7A7]">{song.artists.join(", ")}</h4>
    </div>
  </div>
  <h2 class="flex items-center text-[#A7A7A7]">{song.album}</h2>
  <h2 class="flex items-center text-[#A7A7A7]">{song.duration}</h2>
</div>
