---
import { type Playlist, type Song } from "@/lib/data";
import CardPlayButton from "./CardPlayButton.jsx";
interface Props {
  playlist: Playlist;
  songs: Song[];
}
const { playlist, songs } = Astro.props;
const { id, albumId, cover, title, artists, color } = playlist;
const song = songs[0];
const artistasString = artists.join(", ");
---

<article class="group relative">
  <div
    class="absolute z-10 right-5 bottom-[70px] opacity-0 translate-y-4 transition-all duration-500 group-hover:opacity-100 group-hover:translate-y-[-9px]"
  >
    <CardPlayButton
      transition:name="audio-playlist"
      transition:persist
      client:visible
      id={albumId}
      playlist={playlist}
      song={song}
      songs={songs}
    />
  </div>
  <a
    href=`/playlist/${id}`
    class="playlist-item p-3 flex flex-col relative overflow-hidden gap-5 rounded-lg bg-[#121212] hover:bg-zinc-800"
    transition:name=`playlist ${id} box`
  >
    <picture class="h-40 w-35 flex-none">
      <img
        src={cover}
        alt=`Cover of ${title} by ${artistasString}`
        class="object-cover w-full h-full rounded-[4px]"
        transition:name=`playlist ${id} image`
      />
    </picture>
    <div class="px-0  flex flex-auto flex-col truncate justify-start">
      <h4
        class="text-[#E9E9E9] text-sm font-semibold pb-1"
        transition:name=`playlist ${id} title`
      >
        {title}
      </h4>
      <span class="text-xs text-[#949494]" transition:name=`none ${id}`
        >{artistasString}</span
      >
    </div>
  </a>
</article>
